@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@tailwind base;
/* purgecss start ignore */
@tailwind components;
@tailwind utilities;
/* purgecss end ignore */

html,
body {
  padding: 0!important;
  margin: 0!important;
  font-family: 'Josefin Sans', sans-serif;
  background: #000000;
  height: 100%;
}

main {
  background: #000000;
  height: 100%;
}

#__next {
  height: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}
th {
  text-align: left;
}
thead {
  border-bottom: solid 2px #55bde8;
}

* {
  box-sizing: border-box;
}

.max-w-screen-2xl {
  max-width: 1536px!important;
}


/* Hamburger */
.hamburger {
  height: 30px;
  width: 32px;
  margin: 10px;
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  z-index: 99990;

}

.hamburger div {
  background-color: #726f77;
  position: relative;
  width: 26px;
  height: 2px;
  margin-top: 7px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#toggle {
  display: none;
}

#toggle:checked + .hamburger .top {
  -webkit-transform: rotate(-43deg);
  transform: rotate(-43deg);
  margin-top: 15.5px;
}

#toggle:checked + .hamburger .meat {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: -2px;
}

#toggle:checked + .hamburger .bottom {
  -webkit-transform: scale(0);
  transform: scale(0);
}
